body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}



header nav{
  width:75%;
  margin:32px auto;
}

header nav a{
  color:#00AA00;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover,
header nav a:active{
  color:#449baf;
}
